doctype 5
html
	head
		script(src='http://code.jquery.com/jquery-1.6.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/underscore-min.js')
		script(src='/backbone-min.js')
		script(src='/model/user')
		script
			// socket.io specific code
			var socket = io.connect();

			socket.on('clientModels', function(models) {
				console.log('receiving models');
				_.each(models, function(element, idx, arr) {
					var user = new User(element);
					$("#user-list").append("<li>" + "Found user: " + user.get('email') + " - validate? " + user.validate() + "</li>");
				});
			});

	body
		#users
			p Receiving info form server...
			ul#user-list
